

.content-wrapper,
.right-side {
  background-color: #ffffff;
}
/*.skin-black .main-header>.navbar {
    background-color: #FA8072;
}*/

 /* logo */
        .skin-black .main-header .logo {
                              background-color: 	#F5F5F5;
                              }

/* logo when hovered */
        .skin-black .main-header .logo:hover {
                              background-color: #F5F5F5;
                              }
/* navbar (rest of the header) */
        .skin-black .main-header .navbar {
                              background-color: #F5F5F5;
                              }   